/* ----------- global configuration ----------- */
@font-face {
    font-family: "Overpass";
    src: url('overpass.otf') format("opentype");
}

a:link, a:hover, a:visited, a:active {
    color: white;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Overpass";
    font-size: 2em;
    color: ghostwhite;
    overflow-y: scroll;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

section {
    width: 100vw;
}

section.landscape>article {
    height: calc((2/3 * 100vw) - 1px);
    position: relative;
}

section.portrait {
    position: relative;
}

section.portrait article {
    position: relative;
}

section.landscape>article {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw;
    width: 100vw;
}

nav#main {
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 50px;
    opacity: 1;
    background-color: grey;
    padding: 14px 2px 6px 16px;
}

nav#galleries {
    position: fixed;
    z-index: 3;
    top: 5px;
    right: 200px;
    opacity: 1;
    padding: 2px;
}

nav#galleries > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#galleries > ul > li {
    display: inline;
    font-size: 0.4em;
    padding: 5px;
    background-color: grey;
}

/* ----------- specific configurations ----------- */

.drop {
    display: none;
    position: fixed;
    z-index: 1;
    background: black;
}

.drop a {
    padding: 12px 16px;
    display: block;
    font-size: 0.6em;
    padding: 5px 5px 5px 5px;
    margin: 0px;
    text-decoration: none;
    min-width: 120px;
}

.drop a:hover {
    text-decoration: underline;
}

nav:hover .drop {
    display: block;
}

footer {
    font-size: 0.2em;
    opacity: 0.4;
    position: fixed;
    z-index: 2;
    bottom: 5px;
    left: 5px;
}

article>p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 0.5em;
    max-width: 40vw;
    font-variant: small-caps;
}

.camera_details {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.2em;
    background-color: grey;
    opacity: 0.7;
    padding: 5px 20px 5px 5px;
    min-width: 100px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~div.overlay {
    display: block;
}

div.overlay {
    display: none;
    z-index: 1;
    position: absolute;
    padding: 0px 20px;
    font-size: 0.2em;
    background-color: white;
    color: black;
    bottom: 40px;
    right: 0px;
}

span {
    display: block;
}

span.title {
    font-size: 2em;
}

#about {
    display: none;
    font-size: 0.5em;
    position: fixed;
    background-color: white;
    z-index: 10;
    color: black;
}

#about>div.close {
    position: absolute;
    right: 10px;
    font-size: 2em;
}

#about>p {
    margin-bottom: 20px;
    text-indent: 10px;
}


/* ----------- mobile configuration ----------- */
@media screen and (min-width: 800px) {
    section.portrait {
        display: flex;
        flex-wrap: wrap;
    }
    section.portrait>div>article {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .scale-2 {
        width: calc(1/2 * 100vw);
    }
    .scale-2>article {
        height: calc((3/2/2 * 100vw) - 1px);
    }
    .scale-3 {
        width: calc(1/3 * 100vw);
    }
    .scale-3>article {
        height: calc((3/2/3 * 100vw) - 1px);
    }
    .scale-4 {
        width: calc(1/2 * 100vw);
    }
    .scale-4>article {
        height: calc((3/2/2 * 100vw) - 1px);
    }
    .scale-5 {
        width: calc(1/5 * 100vw);
    }
    .scale-5>article {
        height: calc((3/2/5 * 100vw) - 1px);
    }

    #about {
        margin: 10% 10% 10% 10%;
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
        max-height: 80%;
        min-height: 40%;
    }
}

@media screen and (max-width: 800px) {
    section.portrait {
        background-size: cover;
        background-position: center center;
    }
    section.portrait>div>article {
        height: calc((3/2*100vw) - 1px);
        background-size: 100%;
    }
    #about {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
    }
}